<% i = rand(10000000) %>
<tr>
  <td><input name="user_info[emails_attributes][<%= i %>][email_address]" size="30" type="text" value=""></td>
  <td><input name="user_info[emails_attributes][<%= i %>][_destroy]" type="checkbox" value="1" />Del
</tr>

